.main
  header.page-header
    .max-width-wrapper
      a.headline(href='/')
        .content
          .title Liamo Cup
        .logo

  .max-width-wrapper
    section.intro
      p The Liamo Cup was founded at Christmas 2019 so that the lads could have something to do during the five year wait for Liam &amp; Lisa to get married. It's two-day, invite-only event with 36 holes of golf to be played and almost as many pints to be consumed.

      p The inaugural event will be held in Champion Golfer of the Year's backyard of Esker Hills in Offaly. The lads will find shelter in a house in Tullamore. Big enough to fit everyone, and a quick jaunt to the pubs; tis an ideal hidey-hole between rounds.

    ul.events
      li.event
        a(href="/tournament/1")
          .title Esker Hills
          .date 27 - 29 March 2020
          ul
            li
              .position 1.
              .name Liam Rockall
              .score E
            li
              .position 2.
              .name Mike Rockall
              .score E
            li
              .position 3.
              .name Eoin Rockall
              .score E
            li
              .position 4.
              .name Danny Finn
              .score E
          .actions
            p Full Leaderboard &amp; Scoring

      li.event.future
        a(href="/tournament/1")
          .title Location: TBD
          .date March 2021

      li.event.future
        a(href="/tournament/1")
          .title Location: TBD
          .date March 2022

      li.event.future
        a(href="/tournament/1")
          .title Location: TBD
          .date March 2023

      li.event.future
        a(href="/tournament/1")
          .title Location: TBD
          .date March 2024

      li.event.future
        a(href="/tournament/1")
          .title Location: TBD
          .date March 2025
