$options-border-colour: #ddd;

.login_page{
  padding: .75rem 1.5rem;

  p{
    font-size: 1.25rem;
    color: $text-light;
  }

  .options {
    margin-top: 2rem;
    border-top: 1px solid $options-border-colour;

    .option:nth-child(2n){
      border-right: 0 none;
    }
  }

  .option {
    @include box-sizing(border-box);
    position: relative;
    overflow: hidden;
    float: left;
    width: 50%;
    color: $text-dark;
    font-size: 1.35em;
    line-height: 3.5;
    padding: 0 1rem;
    border-bottom: 1px solid $options-border-colour;
    border-right: 1px solid $options-border-colour;

    @include ripple-effect(rgba(133, 155, 163, 0.21), .25s);

    &:after{
      content: '';
      position: absolute;
      top: 50%; right: 0.3rem;
      background: url(svg/chevron-right.svg) center center no-repeat;
      height: 24px;
      width: 24px;
      @include transform(translateY(-45%));
    }
  }
}