$options-border-colour: #ddd;

.login_page{
  padding: .75rem 1.5rem;

  p{
    font-size: 1.25rem;
    color: $text-light;
  }

  .options {
    @include clearfix();
    margin-top: 2rem;
    .option:nth-child(1), .option:nth-child(2){
      border-top-width: 1px;
    }

    .option:nth-child(2n){
      border-left-width: 1px;
    }

    .list-loading{
      margin-top: 2rem;
    }

    p{
      text-align: center;
      color: $text-dark;
    }
  }

  .errors p{
    color: $text-red;
  }

  .option {
    @include box-sizing(border-box);
    position: relative;
    overflow: hidden;
    float: left;
    width: 50%;
    color: $text-dark;
    font-size: 1.35em;
    line-height: 3.5;
    padding: 0 1rem;
    border: 0 solid $options-border-colour;
    border-bottom-width: 1px;

    @include ripple-effect(rgba(133, 155, 163, 0.21), .15s);

    &:after{
      content: '';
      position: absolute;
      top: 50%; right: 0.3rem;
      background: url(svg/chevron-right.svg) center center no-repeat;
      height: 24px;
      width: 24px;
      @include transform(translateY(-45%));
    }

    &.full_width{
      width: 100%;
      border-right: 0 none;
      padding-left: 2.5rem;
      color: $text-light;

      &:after{
        background: url(svg/chevron-left.svg) center center no-repeat;
        right: auto;
        left: 0.3rem;
        fill: $text-light;
        @include transform(translateY(-50%));
      }
    }
  }
}