.loading-page{
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #116493;
  z-index: $z-loading-page;
}

@import 'bounce_loader';
@import 'sweep_loader';
