header{
  @include container();
  @include clearfix();

  background: #3C6BA1 url(images/bg.jpg) center center no-repeat;
  padding: 12px 0 70px;

  .logo{
    display: block;
    height: 65px;
    margin: 25px 10px 10px;
    background: url(images/logo.png) center center no-repeat;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .logo{
      background-image: url(images/logo-big.png);
      -webkit-background-size: 130px 130px;
      -moz-background-size: 130px 130px;
      -o-background-size: 130px 130px;
      background-size: 130px 130px;
    }
  }
}