header{
  @include container();
  @include clearfix();

  background: $dark-blue;
  @include box-shadow(0 1px 3px 0px #505050);

  .logo{
    float: left;
    width: 50px;
    height: 50px;
    margin: 10px;
    background: url(images/logo.png) left center no-repeat;
  }

  @media screen and (-webkit-min-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.3), screen and (-o-min-device-pixel-ratio: 2 / 1), screen and (min-device-pixel-ratio: 1.3), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
    .logo{
      background-image: url(images/logo-big.png);
      -webkit-background-size: 50px 50px;
      -moz-background-size: 50px 50px;
      -o-background-size: 50px 50px;
      background-size: 50px 50px;
    }
  }

  @import "nav";

  .icon {
    float: right;
    display: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 0 em;
    line-height: 63px;
    color: #444;
    height: 70px;

    @include bp(mobile){
      display: block;
    }
  }
  .hamburger-icon svg{
    display: none;
    float: left;
    margin: 18px 10px;
    fill: none;
    stroke: #fff;
    stroke-linejoin: bevel;
    stroke-width: 5px;

    @include bp(mobile){
      display: block;
    }
  }
}