$logo-size: 36px;

header.page-header{
  position: relative;
  background: $green url(images/liam-bg.png) center center no-repeat;
  padding: 1.2em;
  color: white;
  -webkit-box-shadow: 0px 1px 5px 0px #222;
          box-shadow: 0px 1px 5px 0px #222;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .logo{
    display: block;
    margin: 0;
    height: $logo-size;
    padding-right: $logo-size + 18px;
    line-height: $logo-size;
    font-size: 24px;
    font-weight: 400;
    background: url(images/logo.png) right center no-repeat;
    -webkit-background-size: $logo-size $logo-size;
    -moz-background-size: $logo-size $logo-size;
    -o-background-size: $logo-size $logo-size;
    background-size: $logo-size $logo-size;
  }

  .title{
    font-size: 2.5em;
    font-weight: 300;
    margin: 2rem .5rem 0.25rem;
    padding: 0 2rem;
  }

  .subtitle{
    font-size: 2em;
    font-weight: 100;
    margin: 0 .5rem;
    padding: 0 2rem;
  }

  @include retina {
    .logo{
      background-image: url(images/logo-big.png);
    }
  }

  @import "tabs";
}