.nav{
  float: right;
  margin: 17px 15px;

  ul{
    @include clearfix();
    list-style: none;
    padding: 0;
    margin: 0;

    li{
      float: left;
      display: inline-block;

      a{
        display: inline-block;
        padding: .5em 0;
        margin: 0 .5em;
        border-bottom: 5px solid white;

        font-size: 18px;
        line-height: 18px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: white;

        &:hover{
          border-color: $dark-grey;
        }

        &.active{
          border-color: $blue;
        }
      }

      &.active {
        a {
          display: none;
        }
      }

      &.profile_pic{
        background: #bbb;
        width: 45px;
        height: 45px;
        margin-left: 15px;
        border: 1px solid #bbb;
        @include border-radius(50%);

        img{
          width: 45px;
          height: 45px;
          @include border-radius(50%);            
        }
      }
    }
  }

  @include bp(mobile) {
    clear: both;
    display: none;
    float: none;

    ul li {
      float: none;
      display: block;

      &.active a, &:hover a{
        border-bottom-color: #fff; 
      }

      a {
        display: block;
        padding: .75em 1em;
        margin-bottom: 1em;
        border-bottom: 0 none;
      }

      &.profile_pic{
        display: none;
      }
    }
  }
}