.tabs{
  @include clearfix();
  margin: 2em -2em 0;

  a{
    float: left;
    outline: none;
    width: 33%;
    padding: 1.25rem 0;
    color: rgba(255, 255, 255, 1);
    text-indent: -9999em;
    text-align: center;
    border-bottom: 6px solid transparent;
    background: url(images/icons.png) center no-repeat;
    @include background-size(24px);

    &.active{
      border-bottom-color: rgba(255,255,255,0.3);
    }

    &.home{
      background-image: url(svg/home.svg);
    }
    &.me_user{ 
      background-image: url(svg/user.svg);
    }
    &.ldrboard{ 
      background-image: url(svg/trophy.svg);
    }
  }
}