.leaderboard, .headers{
  list-style: none;
  margin: 0;
  padding: 1.5rem 0;

  li{
    font-size: 1rem;
    line-height: 2.25em;
    padding: 0;

    a{
      @include ripple-effect(rgba(133, 155, 163, 0.21), .25s);
      @include box-sizing(border-box);
      @include flexbox();
      position: relative;
      overflow: hidden;
      width: 100%;
      padding: 0 .75rem;
      align-items: center;
      text-decoration: none;
      color: $text-dark;
    }

    .cell{
      padding: 0.5rem;
      flex: 1 auto;
      color: $text-light;
      text-align: center;
      font-size: 1.25em;

      img{
        @include border-radius(50%);
      }

      &.ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      &.name{
        flex-grow: 100;
        text-align: left;
        color: $text-dark;
        padding: 1.25rem .5rem;
        font-size: 1.5em;
      }

      &.time{
        display: none;
      }

      &.blue{
        color: #7b7b7b;
        font-weight: bold;
        font-size: 1.5em;
      }
    }

    &.pre{
      .score, .thru{
        display: none;
      }

      .time{
        display: table-cell;
      }
    }
  }
}