.leaderboard, .headers{
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li{
    font-size: 1.5em;
    line-height: 2.25em;
    padding: 0;

    &:nth-child(2n){
      background: #f6f6f6;
    }

    a{
      display: table;
      table-layout: fixed;
      width: 100%;
      text-decoration: none;
      color: $text-dark;
    }

    .cell{
      @include box-sizing(border-box);
      position: relative;
      display: table-cell;
      vertical-align: middle;
      color: $text-light;
      text-align: center;

      img{
        position: absolute;
        top: 50%; left: 50%;
        width: 100%;
        max-width: 70px;
        height: auto;
        @include transform(translateX(-50%) translateY(-50%));
        @include border-radius(50%);
      }

      &.ellipsis{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &.name{
        text-align: left;
        color: $text-dark;
        padding: .75em;
      }

      &.one{
        width: 10%;
      }
      &.six{
        width: 60%;
      }

      &.time{
        display: none;
      }

      &.blue{
        color: #7b7b7b;
        font-weight: bold;
      }
    }

    &.pre{
      .score, .thru{
        display: none;
      }

      .time{
        display: table-cell;
      }
    }
  }
}