/*
Syntax error: File to import not found or unreadable: pages/pages.
              Load paths:
                Compass::SpriteImporter
                /Library/WebServer/Server/bp_tournaments/public/stylesheets/sass
                /Library/WebServer/Server/bp_tournaments/app/stylesheets
                /Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets
                /Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets
        on line 2 of /Library/WebServer/Server/bp_tournaments/app/stylesheets/components/_components.scss
        from line 5 of /Library/WebServer/Server/bp_tournaments/app/stylesheets/application.scss

1: @import "compass/css3";
2: 
3: @import 'helpers/helpers';
4: @import 'base/base';
5: @import 'components/components';

Backtrace:
/Library/WebServer/Server/bp_tournaments/app/stylesheets/components/_components.scss:2
/Library/WebServer/Server/bp_tournaments/app/stylesheets/application.scss:5
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:67:in `rescue in import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:45:in `import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:28:in `imported_file'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/import_node.rb:37:in `css_import?'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:217:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin.rb:81:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin.rb:54:in `check_for_updates'
/Library/Ruby/Gems/2.0.0/gems/sass-3.2.13/lib/sass/plugin/rack.rb:51:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/base.rb:50:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/xss_header.rb:18:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/base.rb:50:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/path_traversal.rb:16:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/json_csrf.rb:18:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/base.rb:50:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/base.rb:50:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-protection-1.5.1/lib/rack/protection/frame_options.rb:31:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-1.5.2/lib/rack/head.rb:11:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-1.5.2/lib/rack/methodoverride.rb:21:in `call'
/Library/Ruby/Gems/2.0.0/gems/padrino-core-0.12.2/lib/padrino-core/reloader/rack.rb:22:in `call'
/Library/Ruby/Gems/2.0.0/gems/padrino-core-0.12.2/lib/padrino-core/logger.rb:420:in `call'
/Library/Ruby/Gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/show_exceptions.rb:21:in `call'
/Library/Ruby/Gems/2.0.0/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:225:in `context'
/Library/Ruby/Gems/2.0.0/gems/rack-1.5.2/lib/rack/session/abstract/id.rb:220:in `call'
/Library/Ruby/Gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/base.rb:2004:in `call'
/Library/Ruby/Gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/base.rb:1469:in `block in call'
/Library/Ruby/Gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/base.rb:1778:in `synchronize'
/Library/Ruby/Gems/2.0.0/gems/sinatra-1.4.4/lib/sinatra/base.rb:1469:in `call'
/Library/Ruby/Gems/2.0.0/gems/padrino-core-0.12.2/lib/padrino-core/router.rb:84:in `block in call'
/Library/Ruby/Gems/2.0.0/gems/padrino-core-0.12.2/lib/padrino-core/router.rb:75:in `each'
/Library/Ruby/Gems/2.0.0/gems/padrino-core-0.12.2/lib/padrino-core/router.rb:75:in `call'
/Library/Ruby/Gems/2.0.0/gems/puma-1.6.1/lib/puma/server.rb:410:in `handle_request'
/Library/Ruby/Gems/2.0.0/gems/puma-1.6.1/lib/puma/server.rb:304:in `process_client'
/Library/Ruby/Gems/2.0.0/gems/puma-1.6.1/lib/puma/server.rb:215:in `block in run'
/Library/Ruby/Gems/2.0.0/gems/puma-1.6.1/lib/puma/thread_pool.rb:94:in `call'
/Library/Ruby/Gems/2.0.0/gems/puma-1.6.1/lib/puma/thread_pool.rb:94:in `block in spawn_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: pages/pages.\A               Load paths:\A                 Compass::SpriteImporter\A                 /Library/WebServer/Server/bp_tournaments/public/stylesheets/sass\A                 /Library/WebServer/Server/bp_tournaments/app/stylesheets\A                 /Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/blueprint/stylesheets\A                 /Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets\A         on line 2 of /Library/WebServer/Server/bp_tournaments/app/stylesheets/components/_components.scss\A         from line 5 of /Library/WebServer/Server/bp_tournaments/app/stylesheets/application.scss\A \A 1: @import \"compass/css3\";\A 2: \A 3: @import 'helpers/helpers';\A 4: @import 'base/base';\A 5: @import 'components/components';"; }
