.main
  .content
    header
      .logo(href='/')
      .title Blue Pirate #9
      .subtitle Donabate Golf Club
      .tabs
        //- a.home.active(href='/') Home
        a.ldrboard(href='/leaderboard') Leaderboard
        a.me_user(href='/my-round') Me

    .container.pages.page-container
      .page

  .modals(role='modal-container')
    .modal
