.main
  header.page-header
    .max-width-wrapper
      a.back(href='/') Back to all Events
      a.headline(href='/')
        .content
          .title Esker Hills
          .subtitle 27 - 29 March 2020
        .logo

  .max-width-wrapper
    .tabs
      a.ldrboard(href='/tournament/1/leaderboard') Leaderboard
      a.me_user(href='/tournament/1/my-round') My Round

  section.page-tabs.max-width-wrapper
    .container.pages.page-container
      .page
