body
  .content
    header
      .logo(href='/')
      .title Blue Pirate #7
      .subtitle Athenry Golf Course - 22nd April 2015
      .tabs
        a.home.active(href='/') Home
        a.ldrboard(href='/leaderboard') Leaderboard
        a.me_user(href='/my-round') Me

    .container.pages(role='page-container')
      .page

  .modals(role='modal-container')
    .modal
