.main
  header.page-header
    .max-width-wrapper
      .logo(href='/home')
      .title Blue Pirate #9
      .subtitle Donabate Golf Club
      .tabs
        //- a.home.active(href='/home') Home
        a.ldrboard(href='/leaderboard') Leaderboard
        a.me_user(href='/my-round') Me

  section.page-tabs.max-width-wrapper
    .container.pages.page-container
      .page
