.page
  h1= tournament_name
  h2= course_name
  h2= tournament_date

  h3 Leaderboard
  ul.leaderboard.players

  h3 Putts
  ul.leaderboard.putts

  h3 Fairways
  ul.leaderboard.fairways

  h3 Greens
  ul.leaderboard.greens