ul.feed
  li.feed-item
    header
      .timestamp Ten minutes ago
      .result.dbl_bogey Double Bogey
    section
      p On the 18th hole, Dave picked up a double bogey 6. It is his first double bogey of the round. He didn't pick up any points.
  li.feed-item
    header
      .timestamp Twelve minutes ago
      .result.par Par
    section
      p On the 18th hole, Dave picked up a double bogey 6. It is his first double bogey of the round. He didn't pick up any points.
  li.feed-item
    header
      .timestamp Ten minutes ago
      .result.birdie Birdie
    section
      p On the 18th hole, Dave picked up a double bogey 6. It is his first double bogey of the round. He didn't pick up any points.
