.player_scores
  h2= player_name
  ul.course_tiles
    li(data-attr="score", data-title="Strokes")
      a(href="#")
        .meta Strokes
        .hole_num(role="pretty_score")
    li(data-attr="points", data-title="Points")
      div
        .meta Points
        .hole_num(role="points")
    //- li(data-attr="fairway", data-title=fairway_label)
    //-   a(href="#")
    //-     .meta= fairway_label
    //-     .hole_num(role="pretty_fairway")