.login_page
  p Enter your unique passphrase to login and begin keeping the score.

  .options
    .row
      .option Angry
      .option Delighted
    .row
      .option Excited
      .option Scared
    .row
      .option Motivated
      .option Surprised
    .row
      .option Confused
      .option Happy