.nine_box
  .meta
    .title= title
    .back x
  .options
    .score
      .box(data-value="1") 
        .value 1
      .box(data-value="2") 
        .value 2
      .box(data-value="3") 
        .value 3
      .box(data-value="4") 
        .value 4
      .box(data-value="5") 
        .value 5
      .box(data-value="6") 
        .value 6
      .box(data-value="7") 
        .value 7
      .box(data-value="8")
        .value 8
      .box(data-value="9") 
        .value 9
      .box(data-value="10") 
        .value 10
    .putts
      .box(data-value="0") 
        .value 0
      .box(data-value="1") 
        .value 1
      .box(data-value="2") 
        .value 2
      .box(data-value="3") 
        .value 3
      .box(data-value="4") 
        .value 4
      .box(data-value="5") 
        .value 5
    .fairway
      .box(data-value=1) 
        .value Yep
      .box(data-value=0) 
        .value Nope