@import 'reset';
@import 'variables';
@import 'grid';

body, html {
  background: #424242;
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 17px;
  line-height: 1.5;

  @include bp(mobile) {
    font-size: 14px;  
  }

  @include bp(small) {
    font-size: 12px;
  }
}

body {
  padding: 1em 0;
  @include transition(all 200ms ease);
}

.app-wrapper {
  max-width: $break-mobile;
  min-height: 100vh;
  margin: 0 auto;
  background: white;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
}

@include bp(mobile) {
  body {
    padding: 0;
  }

  .app-wrapper {
    border-radius: 0;
    box-shadow: 0 0 0 0 transparent;
  }
}

.workspace{
  margin: 0 0.5em;
}

.no-scroll{
  height: 100%;
  overflow: hidden;
}

@import 'typography';