h1{
  font-size: 3em;
  font-weight: normal;
  line-height: 1.25em;
  margin-bottom: 0.25em;
  padding-left: .25em;
  padding-right: .25em;
}

h2{
  font-size: 2em;
  font-weight: normal;
  color: $text-light;
  padding-left: .4em;
  padding-right: .4em;
  margin: 0;
}

h3{
  font-size: 2em;
  line-height: 2;
  font-weight: normal;
  color: $text-light;
  padding-left: .4em;
  padding-right: .4em;
  margin: 1em 0 0;
  border-bottom: 1px solid $light-grey;
}