/* ------------------------------------------------
                    COLOURS
------------------------------------------------ */
$blue: #116493;
$dark-blue: #3C6BA1;
$dark-grey: #a0a0a0;
$light-grey: #ddd;
$skull: #d8d0bb;


/* ------------------------------------------------
                  TEXT COLOURS
------------------------------------------------ */
$text-dark: #323232;
$text-light: #a0a0a0;


/* ------------------------------------------------
                    SPACING
------------------------------------------------ */
$vertical-spacing-size: 2em;