%p= "Hey #{@player.name}!"

%p 
  The next Blue Pirate is just around the corner.. So here's the login details you'll need to get into the score keeping app at 
  %a{href: 'http://bp.mikerockall.com'} bp.mikerockall.com.

%p Open up the webpage, swipe over to the users tab and enter in the following code:

%strong= "#{@identity_string.uid}"

%p Once you're logged in you'll see the list of holes along with columns for each player in your group. You're able to keep the score for any player in your group and likewise they can keep your score if they login.

%p Keeping score is simple, just tap on the hole, use the plus and minus buttons to add the correct shot total and hit the save button..

%p Swipe over to the leaderboard at any stage to see how you're doing in relation to the rest of the guys..

%p Mike :D
