@mixin transform($content) {
  -webkit-transform: $content;
      -ms-transform: $content;
          transform: $content;
}

@mixin keyframes($name){
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}