form{
  input{
    @include box-sizing(border-box);
    font-family: 'Droid Sans', sans-serif;
    font-size: 18px;
    line-height: 26px;
    width: 100%;
    padding: 10px 20px;
    margin: 0 0 15px;
    background: #f6f6f6;
    border: 0 none;
    @include border-radius(5px);

    &[type='submit']{
      border: 0 none;
      background: #229952;
      color: #fff;
    }

    &:focus{
      outline: 0 none;
    }
  }
}