$bogey_red: #B56161;
$birdie_blue: #3C6BA1;

.scorecard{
  list-style: none;
  margin: 0;
  padding: 1em;
  background: #dedede;

  .nine{
    @include flexbox();
    @include justify-content(space-around);
    margin-bottom: 1.5em;
    &:nth-last-child(1){
      margin-bottom: 0;
    }

    .hole{
      @include flex(1 0 auto);
      text-align: center;
    }

    .label {
      text-align: left;
      font-weight: 300;
      padding-left: .5em;
    }

    .hole_num{
      font-weight: bold;
    }

    .score, .points{
      background-color: #eee;

      &.dbl_bogey{ background-color: darken($bogey_red, 10%); color: white; }
      &.bogey{ background-color: $bogey_red; color: white; }
      &.birdie{ background-color: $birdie_blue; color: white; }
      &.eagle{ background-color: lighten($birdie_blue, 10%); color: white; }
    }
  }
}