a.tournament(href=slug)
  .col6.push0
    .title= name
    .sub_title Athenry Golf Club
    .sub_title 26 May 2014
  .col6.push6
    ul.leaderboard
      li
        | Mike Rockall
        .score 9.15
      li
        | David Flanagan
        .score 9.15
      li
        | Brendan Considine
        .score 9.15
